@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700|Raleway&display=swap&subset=latin-ext');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --accent-color-1: #F9F6DE;
  --accent-color-2: #B43F5A;
  --accent-color-3: #4B1D37;
  --accent-color-4: #70575B;
  --accent-color-5: #869B88;
  --accent-color-6: #EC5E19;
  --accent-color-6-40: #E0A78C;
  --accent-color-7: #4579b9;

  font: 100%/1.5 Oxygen, sans-serif;
  color: #333;
}

h1 {
  position: absolute;
  left: -9999rem;
  top: -9999rem;
}

svg {
  fill: currentColor;
}

a {
  color: var(--accent-color-2);
}

@keyframes loading {
  0% { border-color: var(--accent-color-1) }
  20% { border-color: var(--accent-color-2) }
  40% { border-color: var(--accent-color-3) }
  60% { border-color: var(--accent-color-4) }
  80% { border-color: var(--accent-color-5) }
  100% { border-color: var(--accent-color-1) }
}

.location-info {
    position: relative;
    padding: 1.5rem 3rem 2rem;
    border-top: 5px solid transparent;
    font-family: Raleway, sans-serif;
  }
  .location-info.loading {
    color: #888;
    animation: loading 1s linear infinite;
  }
  .location-info h2 {
    font-size: 2.5rem;
    font-weight: normal;
  }
  .location-info h2 input {
    width: calc(100% + .5rem);
    margin-left: -.5rem;
    padding: 0 .5rem;
    border: none;
    background: transparent;
    color: inherit;
    font: inherit;
  }
  .location-info h2 input:focus {
    outline: none;
    background: #eee;
  }
  .location-info h2 input:disabled {
    background: transparent;
  }
  .location-info .toolbar {
    display: flex;
  }
  .location-info .currentlocation {
    display: flex;
  }
  .location-info .currentlocation svg {
    align-self: center;
    width: 1rem;
    height: 1rem;
  }
  .location-info h3 {
    flex: 1;
    margin-left: 1rem;
    font-size: 1.3rem;
    font-weight: normal;
}

.timeline-wrapper {
  overflow: auto;
}

.weather-timeline {
    position: relative;
    padding: 1px .5rem 1rem;
    background: var(--accent-color-1);
  }
  .weather-timeline .graph {
    position: relative;
}

.night-background {
    position: absolute;
    top: 0;
    right: .5rem;
    bottom: 0;
    left: .5rem;
    list-style: none;
  }
  .night-background li {
    position: absolute;
    top: 0;
    bottom: 0;
    background: var(--accent-color-3);
  }
  .night-background .leftpadding {
    left: -.5rem;
    width: .5rem;
  }
  .night-background .rightpadding {
    right: -.5rem;
    width: .5rem;
  }
  .night-background .moon {
    display: block;
    margin: .5rem auto 0;
    stroke: #eee;
    fill: #eee;
}

.precipitation-graph, .temperature-graph {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.precipitation-graph .probability {
  fill: var(--accent-color-7);
  stroke: var(--accent-color-7);
  opacity: .9;
}

.temperature-graph .helperlines {
    stroke: #888;
  }
  .temperature-graph path.apparent {
    stroke: var(--accent-color-6-40);
  }
  .temperature-graph path.temperature {
    stroke: var(--accent-color-6);
  }
  .temperature-graph circle.apparent {
    fill: var(--accent-color-6-40);
  }
  .temperature-graph circle.temperature {
    fill: var(--accent-color-6);
  }
  .temperature-graph .labels {
    list-style: none;
  }
  .temperature-graph .labels li {
    display: inline-block;
    position: absolute;
    margin: .5rem 0;
    color: var(--accent-color-6);
    font-size: .8rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    transform: translateX(-50%);
  }
  .temperature-graph .labels li em {
    color: var(--accent-color-6-40);
    font-style: normal;
}

.labeled-ticks {
    display: flex;
    position: relative;
    height: 1rem;
    list-style: none;
    font-size: .9rem;
  }
  .labeled-ticks.showlabels {
    height: 2.5rem;
  }
  .labeled-ticks li {
    flex: 0 0;
    position: relative;
  }
  .labeled-ticks li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: .5rem;
    width: 1;
    height: .3rem;
    background: #888;
  }
  .labeled-ticks.labelpositionbottom li::after {
    top: .5rem;
    bottom: auto;
  }
  .labeled-ticks .invert {
    color: #eee;
  }
  .labeled-ticks .label {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-50%);
  }
  .labeled-ticks li:first-child .label {
    transform: none;
  }
  .labeled-ticks.labelpositionbottom .label {
    top: auto;
    bottom: 0;
}

.sun-bar {
    display: flex;
    position: relative;
    margin: .5rem 0;
    list-style: none;
    pointer-events: none;
  }
  .sun-bar li {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 0 0;
    height: 1.2rem;
    overflow: hidden;
  }
  .sun-bar .uv span {
    display: inline-block;
    position: relative;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    text-align: center;
    font-size: .8rem;
    background: #ddd;
  }
  .sun-bar .uv.green span,
  .sun-bar .uv.green::before {
    background: #9AD739;
  }
  .sun-bar .uv.yellow span,
  .sun-bar .uv.yellow::before {
    background: #FFDB1E;
  }
  .sun-bar .uv.orange span,
  .sun-bar .uv.orange::before {
    background: #E48E1D;
    color: white;
  }
  .sun-bar .uv.red span,
  .sun-bar .uv.red::before {
    background: #D1361B;
    color: white;
  }
  .sun-bar .uv.violet span,
  .sun-bar .uv.violet::before {
    background: #7E03AF;
    color: white;
  }
  .sun-bar .uv.extendleft::before,
  .sun-bar .uv.extendright::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 50%;
  }
  .sun-bar .uv.extendleft::before {
    left: 0;
  }
  .sun-bar .uv.extendright::before {
    right: 0;
}

.cloud-bar {
    display: flex;
    position: relative;
    height: 24px;
    list-style: none;
    background: rgba(135, 143, 154, .1);
  }
  .cloud-bar li {
    flex: 0 0;
    position: relative;
  }
  .cloud-bar .cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background: rgb(135, 143, 154);
    text-indent: -9999rem;
}
